<section class="collection">
        <div class="container">
          <ul class="collection__categories">
            <li class="collection__categories-item">
              <a href="/products/?category=vegetables" class="collection-link">
                <div class="collection__picture">
                  <img src="ccd42e3c4555cad01ece.jpg" alt="vegetables" />
                </div>
                <h3 class="collection__name">Vegetables</h3>
                <p class="collection__quantity">{{ categoriesNumber.vegetables }} items</p>
              </a>
            </li>

            <li class="collection__categories-item">
              <a href="/products/?category=fruits" class="collection-link">
                <div class="collection__picture">
                   <img src="5694ab5a56d8bdf72b24.jpg" alt="fruits" />
                </div>
                <h3 class="collection__name">Fresh Fruits</h3>
                <p class="collection__quantity">{{ categoriesNumber.fruits }} items</p>
              </a>
            </li>

            <li class="collection__categories-item">
              <a href="/products/?category=grainAndNuts" class="collection-link">
                <div class="collection__picture">
                  <img src="6eae68717da3ba2e2648.jpg" alt="grainAndNuts" />
                </div>
                <h3 class="collection__name">Grain & Nuts</h3>
                <p class="collection__quantity">{{ categoriesNumber.grainAndNuts }} items</p>
              </a>
            </li>

            <li class="collection__categories-item">
              <a href="/products/?category=meats" class="collection-link">
                <div class="collection__picture">
                  <img src="acb5b709ec83eb940499.jpg" alt="meats" />
                </div>
                <h3 class="collection__name">Fresh Meats</h3>
                <p class="collection__quantity">{{ categoriesNumber.meats }} items</p>
              </a>
            </li>

            <li class="collection__categories-item">
              <a href="/products/?category=smoothies" class="collection-link">
                <div class="collection__picture">
                  <img src="32c37b8c5d4b8d0324b1.jpg" alt="smoothie" />
                </div>
                <h3 class="collection__name">Fresh Smoothie</h3>
                <p class="collection__quantity">{{ categoriesNumber.smoothies }} items</p>
              </a>
            </li>
          </ul>

          <div class="collection__choice">
            <div class="collection__choice-top">
              <h2 class="collection__heading">Arriwal Organic</h2>
              <ul class="header__links collection__links">
                <li class="header__link-item collection__item" >
                  <a href="/" class="header__link header__link--current collection__choice-link--current" data-category="all">All</a>
                </li>
                <li class="header__link-item collection__item">
                  <a href="/:meats" class="header__link" data-category="meats">Meats</a>
                </li>
                <li class="header__link-item collection__item">
                  <a href="/:vegetables" class="header__link" data-category="vegetables">Vegetables</a>
                </li>
                <li class="header__link-item collection__item">
                  <a href="/:grainAndNuts" class="header__link" data-category="grainAndNuts">Grain</a>
                </li>
                <li class="header__link-item collection__item">
                  <a href="/:fruits" class="header__link" data-category="fruits">Fruits</a>
                </li>
                <li class="header__link-item collection__item">
                  <a href="/products/?category=all" class="header__link" data-category="smoothies">Other</a>
                </li>
              </ul>
            </div>

            <div class="collection__choice-main">
              <div class="owl-carousel">
                {{#each products}}

                <div class="owl-card">
                  <div class="thumb owl-thumb" data-id="{{ id }}">
                    <img src="{{ image_url }}" alt="{{ category }}" data-image="{{ id }}">

                    {{#if (isSaleAndNew old_price isNew)}}
                    <div class="thumb__discount thumb__discount--both"><span class="thumb__discount-number">-20%</span></div>
                    <div class="thumb__discount thumb__discount--both-new"><span class="thumb__discount-number">new</span></div>

                    {{else}}

                    {{#if old_price}}
                    <div class="thumb__discount"><span class="thumb__discount-number">-20%</span></div>
                    {{/if}}

                    {{#if isNew}}
                    <div class="thumb__discount thumb__discount--sale"><span class="thumb__discount-number">new</span></div>
                    {{/if}}

                    {{/if}}

                    <button class="thumb__like-btn" data-like="{{ id }}">
                      {{> likeBtnIcon }}
                    </button>
                    <ul class="thumb__buttons-list">
                      <li class="thumb__button-item">
                        <button class="thumb__button">
                          {{> refreshBtnIcon }}
                        </button>
                      </li>
                      <li class="thumb__button-item">
                        <button class="thumb__button-add-to-card" data-add="{{ id }}">
                          {{> smallCartIcon }}
                          Add to cart
                        </button>
                      </li>
                      <li class="thumb__button-item">
                        <a href="/product/:{{ id }}" class="thumb__button">
                          {{> smallSearchIcon }}
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="raiting">
                    <div class="clip-star"></div>
                    <div class="clip-star"></div>
                    <div class="clip-star"></div>

                    {{#if (isThreeStar raiting)}}
                    <div class="clip-star clip-star--empty"></div>
                    <div class="clip-star clip-star--empty"></div>
                    {{/if}}

                    {{#if (isFourStar raiting)}}
                    <div class="clip-star"></div>
                    <div class="clip-star clip-star--empty"></div>
                    {{/if}}

                    {{#if (isFiveStar raiting)}}
                    <div class="clip-star"></div>
                    <div class="clip-star"></div>
                    {{/if}}

                  </div>
                  <p class="card-item__text" data-title="{{ id }}">{{ title }}</p>
                  <p class="card-item__price" data-price="{{ id }}">{{ price }}

                  {{#if old_price}}
                  <span class="card-item__price card-item__old-price">{{ old_price }}</span>
                  {{/if}}

                  </p>
                </div>

                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </section>