<header>

      {{#if shopPage}}
      <div class="header__top-bg header__top-bg--secondary header__container-mobile not-visible" data-menu>
      {{else}}
      <div class="header__top-bg header__container-mobile not-visible" data-menu>
      {{/if}}

        <div class="container">
          <div class="header__top">
            <ul class="header__contacts">
              <li class="header__contacts-item">
                <a href="tel:+800345678">
                  {{> phoneIcon }}
                  (+800) 345 678
                </a>
              </li>
              <li class="header__contacts-item">
                <a href="mailto:organicfood@gmail.com">
                  {{> closedMailIcon }}
                  Organicfood@gmail.com
                </a>
              </li>
            </ul>
            <ul class="header__switch">
              <li class="header__switch-item header__contacts-item">
                {{> languageIcon }}
                English
              </li>
              <li class="header__switch-item header__contacts-item">
                {{> currencyIcon }}
                USD
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="header" class="container header__container-drop-down header__container-mobile not-visible" data-menu>
        <div class="header__main">
          <button class="btn-open btn-open--close" data-close>
            {{> closeBtnIcon }}
          </button>
          <ul class="header__links">
            <li class="header__link-item">

              {{#if homePage}}
              <a class="header__link header__link--current" href="/">Home</a>
              {{else}}
              <a class="header__link" href="/">Home</a>
              {{/if}}

            </li>
            <li class="header__link-item">

              {{#if shopPage}}
              <a class="header__link header__link-flex header__link--current" href="" data-link>
              {{else}}
              <a class="header__link header__link-flex" href="" data-link>
              {{/if}}

                Shop
                {{> arrowDownIcon }}
              </a>
            </li>
            <li class="header__link-item">
              <a class="header__link" href="">About</a>
            </li>
            <li class="header__link-item">
              <a class="header__link" href="">Blog</a>
            </li>
            <li class="header__link-item">

              {{#if contactPage}}
              <a class="header__link header__link--current" href="/contact/howToFind">Contact</a>
              {{else}}
              <a class="header__link" href="/contact/howToFind">Contact</a>
              {{/if}}

            </li>
          </ul>

          {{#if shopPage }}
          <h2 class="logo"><span class="logo--secondary">Orga</span>Fresh</h2>
          {{else}}
          <h2 class="logo">OrgaFresh</h2>
          {{/if}}

          <ul class="header__icons">
            <li class="header__icons-item">
              <a href="">
                {{> bigSearchIcon }}
              </a>
            </li>
            <li class="header__icons-item">
              <a href="" data-wishList>
                {{> heartIcon }}
                <div class="wishList-indicator wishList-indicator--hidden"><span data-wishListIndicator></span></div>
              </a>
            </li>
            <li class="header__icons-item">
              <a href="" data-shopCart>
                {{> bigCartIcon }}
                <div class="cart-indicator cart-indicator--hidden"><span data-indicator></span></div>
              </a>
            </li>
          </ul>
        </div>

        <div class="drop-down drop-down--non-visible" data-dropDown>
          <ul class="drop-down__list">
            <p class="drop-down__heading">Categories</p>
            <li class="drop-down__sub-list">
              <ul class="drop-down__sub-list__list drop-down__sub-list__list--first">
                <li class="drop-down__item"><a class="header__link drop-down__link" href="/products/?category=fruits">Fresh fruits</a></li>
                <li class="drop-down__item"><a class="header__link drop-down__link" href="/products/?category=vegetables">Fresh Vegetables</a></li>
                <li class="drop-down__item"><a class="header__link drop-down__link" href="/products/?category=meats">Fresh Meats</a></li>
              </ul>
              <ul class="drop-down__sub-list__list">
                <li class="drop-down__item"><a class="header__link drop-down__link" href="/products/?category=grainAndNuts">Grain & nuts</a></li>
                <li class="drop-down__item"><a class="header__link drop-down__link" href="/products/?category=smoothies">Smoothies</a></li>
                <li class="drop-down__item"><a class="header__link drop-down__link" href="/products/?category=all">All products</a></li>
              </ul>
            </li>
          </ul>
          <ul class="drop-down__list drop-down__list--last">
            <p class="drop-down__heading">Shop Pages</p>
            <li class="drop-down__item"><a class="header__link drop-down__link" href="/order/cart">Cart</a></li>
            <li class="drop-down__item"><a class="header__link drop-down__link" href="/order/chekout">Checkout</a></li>
            <li class="drop-down__item"><a class="header__link drop-down__link" href="/wishlist">Wishlist</a></li>
          </ul>
        </div>
      </div>

      <div class="container header__container">
        <div class="header__main-mobile">
          <h2 class="logo header__logo">OrgaFresh</h2>
          <button class="btn-open" data-open>
            {{> burgerIcon }}
          </button>
        </div>
      </div>
    </header>